@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.qr-card {
  width: 250px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.6rem;
}
.qr-image {
  border-radius: 0.6rem;
  margin: 0.6rem;
  width: 230px;
  height: 200px;
}
.qr-information {
  text-align: center;
  margin: 0.6rem;
}
.qr-heading {
  font-size: 1.2rem;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}
.qr-description {
  font-size: 0.9rem;
  margin-top: 0.6rem;
  color: hsl(220, 15%, 55%);
  margin-bottom: 1.25rem;
  font-weight: 400;
}

/* Responsive for Mobile devices (sm - 576px) */
@media (max-width: 576px) {
  .qr-card {
    width: 270px;
  }
  .qr-image {
    width: 250px;
    height: 280px;
  }
  .qr-heading {
    font-size: 1.35rem;
  }
  .qr-description {
    font-size: 1rem;
  }
}
